<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSBBTextures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SSBBTextures.Properties.Settings>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PcsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceCommon5pac" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoAssignPortrait" serializeAs="String">
                <value>True</value>
            </setting>
        </SSBBTextures.Properties.Settings>
    </userSettings>
</configuration>